<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95B4E7771D8B760D001DF476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B4E78B1D8B760D001DF476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95B4E7961D8B760E001DF476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
